body, html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
}

* {
    box-sizing: border-box;
}

body {
    background: red;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#ui {
    background: rgba(167, 167, 167, 0.8); /* Semi-transparent */
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;
}

#artboard {
    flex-grow: 1; /* Allow the artboard to take up the remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    height: 100vh;
}

#canvasWrapper {
    width: 100%;
    height: 100%;
}

#textInput {
    width: 100%;
    height: 40px;
    font-size: 16px;
    resize: both;
    overflow: auto;
}